
CREATE DATABASE [CinemaManagementProject]
GO

USE [CinemaManagementProject]
GO


CREATE TABLE [dbo].[Bill](
	[BillCode] [varchar](100) NOT NULL,
	[CustomerId] [int] NULL,
	[StaffId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[DiscountPrice] [real] NULL,
	[TotalPrize] [real] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[BillCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [varchar](max) NULL,
	[CustomerName] [nvarchar](max) NULL,
	[PhoneNumber] [varchar](max) NULL,
	[Email] [varchar](50) NULL,
	[FirstDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmName] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Duration] [int] NULL,
	[FilmType] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[Genre] [nvarchar](max) NULL,
	[ReleaseDate] [datetime] NULL,
	[FilmInfo] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[ProductImage] [nvarchar](max) NULL,
	[ProductType] [nvarchar](max) NULL,
	[Price] [real] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductBillInfo]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductBillInfo](
	[ProductId] [int] NOT NULL,
	[BillCode] [varchar](100) NOT NULL,
	[Quantity] [int] NULL,
	[PrizePerProduct] [int] NULL,
 CONSTRAINT [PK_BillInfo] PRIMARY KEY CLUSTERED 
(
	[BillCode] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReceipt]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReceipt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[ImportPrice] [real] NULL,
	[Quantity] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[StaffId] [int] NULL,
 CONSTRAINT [PK_ProductReceive] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStorage]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStorage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_ProductStorage] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[BillCode] [varchar](100) NOT NULL,
	[Star] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[IsRespond] [bit] NULL,
	[FilmId] [int] NOT NULL,
	[FilmName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[BillCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeatQuantity] [int] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeatNumber] [int] NULL,
	[SeatRow] [char](1) NULL,
	[RoomId] [int] NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatSetting]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatSetting](
	[SeatId] [int] NOT NULL,
	[ShowTimeId] [int] NOT NULL,
	[SeatStatus] [bit] NULL,
 CONSTRAINT [PK_SeatSetting] PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC,
	[ShowTimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShowTime]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowTime](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [int] NULL,
	[StartTime] [time](7) NULL,
	[Price] [real] NULL,
	[ShowTimeSettingId] [int] NULL,
 CONSTRAINT [PK_ShowTime] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShowTimeSetting]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowTimeSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShowDate] [datetime] NULL,
	[RoomId] [int] NULL,
 CONSTRAINT [PF_ShowTimeSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](max) NULL,
	[StaffName] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NULL,
	[Email] [varchar](max) NULL,
	[PhoneNumber] [varchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[StartDate] [datetime] NULL,
	[UserName] [varchar](max) NULL,
	[UserPass] [varchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[Avatar] [varbinary](max) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BillCode] [varchar](100) NULL,
	[ShowTimeId] [int] NULL,
	[SeatId] [int] NULL,
	[Price] [real] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trouble]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trouble](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TroubleType] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[RepairCost] [real] NULL,
	[SubmittedAt] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[FinishDate] [datetime] NULL,
	[TroubleStatus] [nvarchar](max) NULL,
	[StaffId] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Level] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Trouble] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VoucherCode] [varchar](max) NULL,
	[VoucherReleaseId] [int] NULL,
	[CustomerId] [int] NULL,
	[VoucherStatus] [nvarchar](max) NULL,
	[ReleaseAt] [datetime] NULL,
	[UsedAt] [datetime] NULL,
	[EnableMerge] [bit] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherRelease]    Script Date: 2/7/2023 11:40:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherRelease](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VoucherReleaseCode] [varchar](max) NULL,
	[VoucherReleaseName] [nvarchar](max) NULL,
	[Price] [real] NULL,
	[VoucherReleaseStatus] [bit] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[TypeObject] [nvarchar](max) NULL,
	[MinimizeTotal] [real] NULL,
	[EnableMerge] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_VoucherRelease] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Bill] ([BillCode], [CustomerId], [StaffId], [CreateDate], [DiscountPrice], [TotalPrize]) VALUES (N'HD0001', 1, 2, CAST(N'2023-02-06T21:08:27.407' AS DateTime), 0, 175000)
INSERT [dbo].[Bill] ([BillCode], [CustomerId], [StaffId], [CreateDate], [DiscountPrice], [TotalPrize]) VALUES (N'HD0002', 2, 2, CAST(N'2023-02-06T21:09:48.577' AS DateTime), 0, 120000)
INSERT [dbo].[Bill] ([BillCode], [CustomerId], [StaffId], [CreateDate], [DiscountPrice], [TotalPrize]) VALUES (N'HD0003', 3, 2, CAST(N'2023-02-06T21:11:46.157' AS DateTime), 0, 110000)
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [MaKH], [CustomerName], [PhoneNumber], [Email], [FirstDate], [IsDeleted]) VALUES (1, N'KH0001', N'Nguyễn Trần Tiến', N'0868208745', N'quichua333@gmail.com', CAST(N'2023-02-06T21:08:24.987' AS DateTime), 0)
INSERT [dbo].[Customer] ([Id], [MaKH], [CustomerName], [PhoneNumber], [Email], [FirstDate], [IsDeleted]) VALUES (2, N'KH0002', N'Lê Thị Nguyệt', N'0868208746', N'21520417@gm.uit.edu.vn', CAST(N'2023-02-06T21:09:46.077' AS DateTime), 0)
INSERT [dbo].[Customer] ([Id], [MaKH], [CustomerName], [PhoneNumber], [Email], [FirstDate], [IsDeleted]) VALUES (3, N'KH0003', N'Trần Quang Sáng', N'0868208747', N'vanphat16032003asd@gmail.com', CAST(N'2023-02-06T21:11:43.997' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

SET IDENTITY_INSERT [dbo].[Film] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [ProductName], [ProductImage], [ProductType], [Price], [IsDeleted]) VALUES (1, N'Popcorn', N'https://res.cloudinary.com/dcdjan0oo/image/upload/v1671010808/FoodManagement/popcorn_avnntw.png', N'Đồ ăn', 30000, 0)
INSERT [dbo].[Product] ([Id], [ProductName], [ProductImage], [ProductType], [Price], [IsDeleted]) VALUES (2, N'Trà sữa', N'https://res.cloudinary.com/dcdjan0oo/image/upload/v1675526357/FoodManagement/lwj8wwxivq4eueapk01q.png', N'Nước uống', 10000, 0)
INSERT [dbo].[Product] ([Id], [ProductName], [ProductImage], [ProductType], [Price], [IsDeleted]) VALUES (3, N'Nước mía', N'https://res.cloudinary.com/dcdjan0oo/image/upload/v1672236562/FoodManagement/Pngtree_watercolor_fruit_juice_drink_sugar_6584001_ymqwbe.png', N'Nước uống', 10000, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[ProductBillInfo] ([ProductId], [BillCode], [Quantity], [PrizePerProduct]) VALUES (1, N'HD0001', 1, 30000)
INSERT [dbo].[ProductBillInfo] ([ProductId], [BillCode], [Quantity], [PrizePerProduct]) VALUES (3, N'HD0001', 1, 10000)
INSERT [dbo].[ProductBillInfo] ([ProductId], [BillCode], [Quantity], [PrizePerProduct]) VALUES (5, N'HD0002', 2, 15000)
GO
SET IDENTITY_INSERT [dbo].[ProductReceipt] ON 

INSERT [dbo].[ProductReceipt] ([Id], [ProductId], [ImportPrice], [Quantity], [CreatedAt], [StaffId]) VALUES (1, 2, 30000, 50, CAST(N'2023-02-06T21:36:19.257' AS DateTime), 1)
INSERT [dbo].[ProductReceipt] ([Id], [ProductId], [ImportPrice], [Quantity], [CreatedAt], [StaffId]) VALUES (2, 5, 50000, 40, CAST(N'2023-02-06T21:36:41.433' AS DateTime), 1)
INSERT [dbo].[ProductReceipt] ([Id], [ProductId], [ImportPrice], [Quantity], [CreatedAt], [StaffId]) VALUES (3, 3, 8000, 35, CAST(N'2023-02-06T21:38:03.300' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ProductReceipt] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductStorage] ON 

INSERT [dbo].[ProductStorage] ([Id], [ProductId], [Quantity]) VALUES (1, 1, 521)
INSERT [dbo].[ProductStorage] ([Id], [ProductId], [Quantity]) VALUES (2, 2, 69)
INSERT [dbo].[ProductStorage] ([Id], [ProductId], [Quantity]) VALUES (3, 3, 56)
SET IDENTITY_INSERT [dbo].[ProductStorage] OFF
GO
INSERT [dbo].[Review] ([BillCode], [Star], [Comment], [IsDeleted], [IsRespond], [FilmId], [FilmName]) VALUES (N'HD0001', 4, N'Phim quá hay!
Coi cười muốn chết luôn ă :><', 0, 0, 5, N'Bỗng Dưng Trúng Số')
INSERT [dbo].[Review] ([BillCode], [Star], [Comment], [IsDeleted], [IsRespond], [FilmId], [FilmName]) VALUES (N'HD0002', 4, N'Phim hay!
Xem khá vui!', 0, 0, 9, N'Siêu Lừa Gặp Siêu Lầy')
INSERT [dbo].[Review] ([BillCode], [Star], [Comment], [IsDeleted], [IsRespond], [FilmId], [FilmName]) VALUES (N'HD0003', 4, N'Phim thật tuyệt vời. Khong ngờ có bộ phim hay đến như vậy ', 0, 0, 10, N'Black Panther 2: Wakanda Forever')
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([Id], [SeatQuantity]) VALUES (1, 144)
INSERT [dbo].[Room] ([Id], [SeatQuantity]) VALUES (2, 144)
INSERT [dbo].[Room] ([Id], [SeatQuantity]) VALUES (3, 144)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([Id], [SeatNumber], [SeatRow], [RoomId]) VALUES (1, 1, N'A', 1)
INSERT [dbo].[Seat] ([Id], [SeatNumber], [SeatRow], [RoomId]) VALUES (2, 2, N'A', 1)
INSERT [dbo].[Seat] ([Id], [SeatNumber], [SeatRow], [RoomId]) VALUES (3, 3, N'A', 1)
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
INSERT [dbo].[SeatSetting] ([SeatId], [ShowTimeId], [SeatStatus]) VALUES (1, 1, 0)
INSERT [dbo].[SeatSetting] ([SeatId], [ShowTimeId], [SeatStatus]) VALUES (1, 4, 0)
INSERT [dbo].[SeatSetting] ([SeatId], [ShowTimeId], [SeatStatus]) VALUES (1, 6, 0)
GO
SET IDENTITY_INSERT [dbo].[ShowTime] ON 

INSERT [dbo].[ShowTime] ([Id], [FilmId], [StartTime], [Price], [ShowTimeSettingId]) VALUES (1, 10, CAST(N'21:00:00' AS Time), 45000, 1)
INSERT [dbo].[ShowTime] ([Id], [FilmId], [StartTime], [Price], [ShowTimeSettingId]) VALUES (2, 9, CAST(N'21:00:00' AS Time), 45000, 2)
INSERT [dbo].[ShowTime] ([Id], [FilmId], [StartTime], [Price], [ShowTimeSettingId]) VALUES (3, 5, CAST(N'21:00:00' AS Time), 45000, 3)
SET IDENTITY_INSERT [dbo].[ShowTime] OFF
GO
SET IDENTITY_INSERT [dbo].[ShowTimeSetting] ON 

INSERT [dbo].[ShowTimeSetting] ([Id], [ShowDate], [RoomId]) VALUES (1, CAST(N'2023-02-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[ShowTimeSetting] ([Id], [ShowDate], [RoomId]) VALUES (2, CAST(N'2023-02-06T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[ShowTimeSetting] ([Id], [ShowDate], [RoomId]) VALUES (3, CAST(N'2023-02-06T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[ShowTimeSetting] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [MaNV], [StaffName], [Gender], [DateOfBirth], [Email], [PhoneNumber], [Position], [StartDate], [UserName], [UserPass], [IsDeleted], [Avatar]) VALUES (1, N'NV0001', N'Lê Quang Nhân', N'Nam', CAST(N'2003-01-16T00:00:00.000' AS DateTime), N'21522402@gm.uit.edu.vn', N'0868008460', N'Quản lý', CAST(N'2022-12-28T00:00:00.000' AS DateTime), N'quangnhan', N'quangnhan', 0, NULL)
INSERT [dbo].[Staff] ([Id], [MaNV], [StaffName], [Gender], [DateOfBirth], [Email], [PhoneNumber], [Position], [StartDate], [UserName], [UserPass], [IsDeleted], [Avatar]) VALUES (2, N'NV0002', N'Huỳnh Ngọc Quí', N'Nam', CAST(N'2003-02-15T00:00:00.000' AS DateTime), N'21520417@gm.uit.edu.vn', N'0868208744', N'Nhân viên', CAST(N'2022-12-28T00:00:00.000' AS DateTime), N'ngocqui', N'ngocqui', 0, NULL)
INSERT [dbo].[Staff] ([Id], [MaNV], [StaffName], [Gender], [DateOfBirth], [Email], [PhoneNumber], [Position], [StartDate], [UserName], [UserPass], [IsDeleted], [Avatar]) VALUES (3, N'NV0003', N'Phan Trọng Tính', N'Nam', CAST(N'2003-08-15T00:00:00.000' AS DateTime), N'21522683@gm.uit.edu.vn', N'0379361210', N'Nhân viên', CAST(N'2022-12-28T00:00:00.000' AS DateTime), N'trongtinh', N'trongtinh', 0, NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([Id], [BillCode], [ShowTimeId], [SeatId], [Price]) VALUES (1, N'HD0001', 3, 292, 45000)
INSERT [dbo].[Ticket] ([Id], [BillCode], [ShowTimeId], [SeatId], [Price]) VALUES (2, N'HD0001', 3, 293, 45000)
INSERT [dbo].[Ticket] ([Id], [BillCode], [ShowTimeId], [SeatId], [Price]) VALUES (3, N'HD0001', 3, 294, 45000)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Trouble] ON 

INSERT [dbo].[Trouble] ([Id], [TroubleType], [Description], [RepairCost], [SubmittedAt], [StartDate], [FinishDate], [TroubleStatus], [StaffId], [IsDeleted], [Level], [Image]) VALUES (1, N'Vỡ kính trong nhà vệ sinh số 2', N'Nhà vệ sinh số 2 bị vỡ kính do tác động mạnh từ bên ngoài. ', 0, CAST(N'2022-12-28T21:55:18.177' AS DateTime), NULL, NULL, N'Chờ tiếp nhận', 3, NULL, N'Nghiêm trọng', N'https://res.cloudinary.com/dcdjan0oo/image/upload/v1672239082/FoodManagement/280060314_693717878524937_7212437497522956673_n_sjadtr.png?fbclid=IwAR3U82LBTFjOj7LDjEr82iOstCQ1DC0fNSmyh3Fo8vMUJjYOsNsbBv-t9OA')
SET IDENTITY_INSERT [dbo].[Trouble] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([Id], [VoucherCode], [VoucherReleaseId], [CustomerId], [VoucherStatus], [ReleaseAt], [UsedAt], [EnableMerge]) VALUES (1, N'N0001PFCY', 1, NULL, N'Chưa phát hành', NULL, NULL, 1)
INSERT [dbo].[Voucher] ([Id], [VoucherCode], [VoucherReleaseId], [CustomerId], [VoucherStatus], [ReleaseAt], [UsedAt], [EnableMerge]) VALUES (2, N'N0001BIIY', 1, NULL, N'Chưa phát hành', NULL, NULL, 1)
INSERT [dbo].[Voucher] ([Id], [VoucherCode], [VoucherReleaseId], [CustomerId], [VoucherStatus], [ReleaseAt], [UsedAt], [EnableMerge]) VALUES (3, N'N0001T9YY', 1, NULL, N'Chưa phát hành', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[VoucherRelease] ON 

INSERT [dbo].[VoucherRelease] ([Id], [VoucherReleaseCode], [VoucherReleaseName], [Price], [VoucherReleaseStatus], [StartDate], [EndDate], [TypeObject], [MinimizeTotal], [EnableMerge], [IsDeleted]) VALUES (1, N'FatFilmFoo0001', N'Chúc Mừng Năm Mới', 30000, 1, CAST(N'2023-02-06T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime), N'Toàn bộ', 70000, 1, 0)
SET IDENTITY_INSERT [dbo].[VoucherRelease] OFF
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0)) FOR [DiscountPrice]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0)) FOR [TotalPrize]
GO
ALTER TABLE [dbo].[Film] ADD  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[ProductBillInfo] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ProductBillInfo] ADD  DEFAULT ((0)) FOR [PrizePerProduct]
GO
ALTER TABLE [dbo].[ProductReceipt] ADD  DEFAULT ((0)) FOR [ImportPrice]
GO
ALTER TABLE [dbo].[ProductReceipt] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ProductStorage] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((0)) FOR [IsRespond]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT ((0)) FOR [SeatQuantity]
GO
ALTER TABLE [dbo].[Seat] ADD  DEFAULT ((0)) FOR [SeatNumber]
GO
ALTER TABLE [dbo].[Seat] ADD  DEFAULT ('A') FOR [SeatRow]
GO
ALTER TABLE [dbo].[SeatSetting] ADD  DEFAULT ((0)) FOR [SeatStatus]
GO
ALTER TABLE [dbo].[ShowTime] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [EnableMerge]
GO
ALTER TABLE [dbo].[VoucherRelease] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[VoucherRelease] ADD  DEFAULT ((0)) FOR [VoucherReleaseStatus]
GO
ALTER TABLE [dbo].[VoucherRelease] ADD  DEFAULT ((0)) FOR [MinimizeTotal]
GO
ALTER TABLE [dbo].[VoucherRelease] ADD  DEFAULT ((0)) FOR [EnableMerge]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Customer]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Staff]
GO
ALTER TABLE [dbo].[ProductBillInfo]  WITH CHECK ADD  CONSTRAINT [FK_BillInfo_Bill] FOREIGN KEY([BillCode])
REFERENCES [dbo].[Bill] ([BillCode])
GO
ALTER TABLE [dbo].[ProductBillInfo] CHECK CONSTRAINT [FK_BillInfo_Bill]
GO
ALTER TABLE [dbo].[ProductBillInfo]  WITH CHECK ADD  CONSTRAINT [FK_BillInfo_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductBillInfo] CHECK CONSTRAINT [FK_BillInfo_Product]
GO
ALTER TABLE [dbo].[ProductReceipt]  WITH CHECK ADD  CONSTRAINT [FK_ProductReceive_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductReceipt] CHECK CONSTRAINT [FK_ProductReceive_Product]
GO
ALTER TABLE [dbo].[ProductReceipt]  WITH CHECK ADD  CONSTRAINT [FK_ProductReceive_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[ProductReceipt] CHECK CONSTRAINT [FK_ProductReceive_Staff]
GO
ALTER TABLE [dbo].[ProductStorage]  WITH CHECK ADD  CONSTRAINT [FK_ProductStorage_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductStorage] CHECK CONSTRAINT [FK_ProductStorage_Product]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Bill] FOREIGN KEY([BillCode])
REFERENCES [dbo].[Bill] ([BillCode])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Bill]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Film]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Room]
GO
ALTER TABLE [dbo].[SeatSetting]  WITH CHECK ADD  CONSTRAINT [FK_SeatSetting_Seat] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([Id])
GO
ALTER TABLE [dbo].[SeatSetting] CHECK CONSTRAINT [FK_SeatSetting_Seat]
GO
ALTER TABLE [dbo].[SeatSetting]  WITH CHECK ADD  CONSTRAINT [FK_SeatSetting_ShowTime] FOREIGN KEY([ShowTimeId])
REFERENCES [dbo].[ShowTime] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeatSetting] CHECK CONSTRAINT [FK_SeatSetting_ShowTime]
GO
ALTER TABLE [dbo].[ShowTime]  WITH CHECK ADD  CONSTRAINT [FK_ShowTime_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
GO
ALTER TABLE [dbo].[ShowTime] CHECK CONSTRAINT [FK_ShowTime_Film]
GO
ALTER TABLE [dbo].[ShowTime]  WITH CHECK ADD  CONSTRAINT [FK_ShowTime_ShowTimeSetting] FOREIGN KEY([ShowTimeSettingId])
REFERENCES [dbo].[ShowTimeSetting] ([Id])
GO
ALTER TABLE [dbo].[ShowTime] CHECK CONSTRAINT [FK_ShowTime_ShowTimeSetting]
GO
ALTER TABLE [dbo].[ShowTimeSetting]  WITH CHECK ADD  CONSTRAINT [FK_ShowTimeSetting_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([Id])
GO
ALTER TABLE [dbo].[ShowTimeSetting] CHECK CONSTRAINT [FK_ShowTimeSetting_Room]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Bill] FOREIGN KEY([BillCode])
REFERENCES [dbo].[Bill] ([BillCode])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Bill]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seat] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seat]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_ShowTime] FOREIGN KEY([ShowTimeId])
REFERENCES [dbo].[ShowTime] ([Id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_ShowTime]
GO
ALTER TABLE [dbo].[Trouble]  WITH CHECK ADD  CONSTRAINT [FK_Trouble_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Trouble] CHECK CONSTRAINT [FK_Trouble_Staff]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_Customer]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_VoucherRelease] FOREIGN KEY([VoucherReleaseId])
REFERENCES [dbo].[VoucherRelease] ([Id])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_VoucherRelease]
GO
USE [master]
GO
